packages/server/.flows_p40.json.backup
[{"id":"fe832848.ba98f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2a5d6d56.c960ca","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"74a6e5eb.c1397c","type":"whois-lookup","z":"2a5d6d56.c960ca","name":"WhoIs Lookup","apiKey":"JU0TQZWIE4PMHVGQTEZM6ANO3J4QBACG","x":640,"y":160,"wires":[["cdfd74d1.571f18"],["7019c470.a9203c"]]},{"id":"22c096fe.93b482","type":"inject","z":"2a5d6d56.c960ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"wikipedia.org","payloadType":"str","x":390,"y":160,"wires":[["74a6e5eb.c1397c"]]},{"id":"7019c470.a9203c","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]},{"id":"cdfd74d1.571f18","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]}]