packages/server/.flows_p40.json.backup
[{"id":"fe832848.ba98f8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"2a5d6d56.c960ca","type":"tab","label":"Test Nodes","disabled":false,"info":""},{"id":"74a6e5eb.c1397c","type":"whois-lookup","z":"2a5d6d56.c960ca","name":"WhoIs Lookup","apiKey":"JU0TQZWIE4PMHVGQTEZM6ANO3J4QBACG","x":1260,"y":220,"wires":[["7a175946.1d2f88"],[]]},{"id":"22c096fe.93b482","type":"inject","z":"2a5d6d56.c960ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"subject","v":"xxx","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"wikipedia.org","payloadType":"str","x":990,"y":140,"wires":[["74a6e5eb.c1397c"]]},{"id":"7019c470.a9203c","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1770,"y":620,"wires":[]},{"id":"533d197c.f46b48","type":"google-custom-search","z":"2a5d6d56.c960ca","name":"GCS Wiki","apiKey":" AIzaSyD_Ucrx3qxHwVgqdrUMiCvs5uHrPPo6_iY ","searchEngineId":"541abf5ffc7594805","x":1060,"y":480,"wires":[["60150992.211438"],[]]},{"id":"69c636a5.d834","type":"inject","z":"2a5d6d56.c960ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Mozart","payloadType":"str","x":830,"y":400,"wires":[["533d197c.f46b48"]]},{"id":"b283d75c.ba70b","type":"inject","z":"2a5d6d56.c960ca","name":"Mozart {}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"query\":\"mozart\",\"limit\":5,\"geolocation\":{\"latitude\":52.5,\"longitude\":13.4}}","payloadType":"json","x":840,"y":860,"wires":[["d5271125.2230f8"]]},{"id":"d5271125.2230f8","type":"http request","z":"2a5d6d56.c960ca","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:3000","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":940,"wires":[["4ef3cd0a.d00ec4"]]},{"id":"4ef3cd0a.d00ec4","type":"json","z":"2a5d6d56.c960ca","name":"","property":"payload","action":"obj","pretty":false,"x":1270,"y":940,"wires":[["972d28fb.6a52d8"]]},{"id":"130d9b8d.40b26c","type":"inject","z":"2a5d6d56.c960ca","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"uid\":\"xxx\",\"name\":\"Proxxon\",\"website\":\"https://proxxon.com\",\"phone\":\"+1 828 326 0326\",\"location\":{\"latitude\":54.5,\"longitude\":14.5}}","payloadType":"json","x":150,"y":520,"wires":[["7798e348.9521c4","53d81b0.8e9a2e4","5e0898a9.5e55a8","667efcc7.4dde04"]]},{"id":"538e9c7e.baa5fc","type":"function","z":"2a5d6d56.c960ca","name":"parse domain","func":"const url = msg.payload;\nconst reDomain = /^https?\\:\\/\\/([^\\/?#]+)(?:[\\/?#]|$)/i\n\nconst [_, domain] = url.match(reDomain) || [];\nif (domain) { \n    msg.payload = domain;\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":220,"wires":[["74a6e5eb.c1397c"]]},{"id":"5f2da7d.8dbf558","type":"switch","z":"2a5d6d56.c960ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":480,"wires":[["533d197c.f46b48"]]},{"id":"53d81b0.8e9a2e4","type":"change","z":"2a5d6d56.c960ca","name":"use company name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":480,"wires":[["5f2da7d.8dbf558"]]},{"id":"4c017814.2c56b8","type":"switch","z":"2a5d6d56.c960ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"string","vt":"string"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":700,"wires":[["6bfeb4b2.20f284"]]},{"id":"667efcc7.4dde04","type":"change","z":"2a5d6d56.c960ca","name":"use phone number","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.phone","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":700,"wires":[["4c017814.2c56b8"]]},{"id":"5e0898a9.5e55a8","type":"function","z":"2a5d6d56.c960ca","name":"set search params","func":"const params = {\n    query: msg.payload.name,\n    geolocation: msg.payload.location\n}\n\nmsg.payload = params;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":940,"wires":[["741d6ec6.63bc68"]]},{"id":"741d6ec6.63bc68","type":"change","z":"2a5d6d56.c960ca","name":"set limit","rules":[{"t":"set","p":"payload.limit","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":940,"wires":[["d5271125.2230f8"]]},{"id":"7798e348.9521c4","type":"change","z":"2a5d6d56.c960ca","name":"use website","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.website","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":220,"wires":[["81336cba.cda06"]]},{"id":"81336cba.cda06","type":"switch","z":"2a5d6d56.c960ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^https?\\:\\/\\/([^\\/?#]+)(?:[\\/?#]|$)","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":220,"wires":[["538e9c7e.baa5fc"]]},{"id":"6bfeb4b2.20f284","type":"google-custom-search","z":"2a5d6d56.c960ca","name":"GCS Wiki","apiKey":" AIzaSyD_Ucrx3qxHwVgqdrUMiCvs5uHrPPo6_iY ","searchEngineId":"541abf5ffc7594805","x":1060,"y":700,"wires":[["801eeaaa.975b58"],[]]},{"id":"801eeaaa.975b58","type":"link out","z":"2a5d6d56.c960ca","name":"op success","links":["2566b3b8.156b7c"],"x":1215,"y":680,"wires":[]},{"id":"2566b3b8.156b7c","type":"link in","z":"2a5d6d56.c960ca","name":"on success","links":["801eeaaa.975b58","60150992.211438","7a175946.1d2f88","972d28fb.6a52d8"],"x":1615,"y":620,"wires":[["7019c470.a9203c"]]},{"id":"60150992.211438","type":"link out","z":"2a5d6d56.c960ca","name":"","links":["2566b3b8.156b7c"],"x":1195,"y":460,"wires":[]},{"id":"7a175946.1d2f88","type":"link out","z":"2a5d6d56.c960ca","name":"","links":["2566b3b8.156b7c"],"x":1415,"y":200,"wires":[]},{"id":"972d28fb.6a52d8","type":"link out","z":"2a5d6d56.c960ca","name":"","links":["2566b3b8.156b7c"],"x":1405,"y":940,"wires":[]}]