packages/server/flows_p40.json
[{"id":"fe832848.ba98f8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"2a5d6d56.c960ca","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"74a6e5eb.c1397c","type":"whois-lookup","z":"2a5d6d56.c960ca","name":"WhoIs Lookup","apiKey":"JU0TQZWIE4PMHVGQTEZM6ANO3J4QBACG","x":640,"y":160,"wires":[["cdfd74d1.571f18"],["7019c470.a9203c"]]},{"id":"22c096fe.93b482","type":"inject","z":"2a5d6d56.c960ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"wikipedia.org","payloadType":"str","x":390,"y":160,"wires":[["74a6e5eb.c1397c"]]},{"id":"7019c470.a9203c","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":200,"wires":[]},{"id":"cdfd74d1.571f18","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"533d197c.f46b48","type":"google-custom-search","z":"2a5d6d56.c960ca","name":"GCS Wiki","apiKey":" AIzaSyD_Ucrx3qxHwVgqdrUMiCvs5uHrPPo6_iY ","searchEngineId":"541abf5ffc7594805","x":580,"y":440,"wires":[["ea0f63c3.7ab5c"],["34c18f9.d099ef"]]},{"id":"69c636a5.d834","type":"inject","z":"2a5d6d56.c960ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Mozart","payloadType":"str","x":370,"y":440,"wires":[["533d197c.f46b48"]]},{"id":"ea0f63c3.7ab5c","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"34c18f9.d099ef","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"b283d75c.ba70b","type":"inject","z":"2a5d6d56.c960ca","name":"Mozart {}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"query\":\"mozart\",\"limit\":5,\"geolocation\":{\"latitude\":52.5,\"longitude\":13.4}}","payloadType":"json","x":380,"y":720,"wires":[["d5271125.2230f8"]]},{"id":"d5271125.2230f8","type":"http request","z":"2a5d6d56.c960ca","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:3000","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":720,"wires":[["4ef3cd0a.d00ec4"]]},{"id":"f7150937.b1fbf","type":"debug","z":"2a5d6d56.c960ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":720,"wires":[]},{"id":"4ef3cd0a.d00ec4","type":"json","z":"2a5d6d56.c960ca","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":720,"wires":[["f7150937.b1fbf"]]}]